{% extends "base.html" %}
{% block content %}
<div class="container bg-white pb-4">
    <div class="row pt-5">
        <div class="col pt-5 mt-5">
            <hr>
            <h2 class="logo-font my-4">Product Reviews</h2>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            {% for review in reviews %}
                <div class="review my-4 p-3 border">
                    {% if item.product.image %}
                    <img class="img-fluid rounded" src="{% static 'media/' %}{{ item.product.image }}" alt="{{ item.product.name }}">
                    {% else %}
                    <img class="img-fluid rounded" src="{% static 'media/noimage.png' %}" alt="{{ item.product.name }}">
                    {% endif %}
                    <h5>{{ review.product.name }}</h5>
                    <p>{{ review.comment }}</p>
                    <p><small>Reviewed by {{ review.user.username }} on {{ review.created_at }}</small></p>
                </div>
            {% endfor %}
        </div>    
    </div>
</div>
{% endblock %}