{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container h-100 home-container">
        <div class="row h-100">
            <div class="col-12 col-md-6 my-auto text-center">
                <h1 class="display-4 text-black">Give The Gift Of Joy</h1>
                <div class="my-5">
                    <h4><a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a></h4>
                </div>
            </div>
            <div class="col-12 col-md-6 my-auto text-center">
                <h2 class="display-4 text-black">Free Delivery For Members!</h2>
                <div class="my-5">
                    <h4><a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Sign Up</a></h4>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="about">
            <div class="row" id="about-us">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-5 mt-lg-0">
                    <h4 class="mx-auto mb-5">About Us</h4>
                    <p class="lead px-4 justify-content-center">
                        Welcome to The Happy Florist, where beauty meets botanical artistry. Nestled in the heart of our community, we pride ourselves on crafting exquisite floral arrangements that capture the essence of nature's fleeting moments. With a passion for creativity and an unwavering commitment to quality, our team of skilled florists meticulously hand-selects each bloom, ensuring every bouquet is a masterpiece of color, texture, and fragrance. Whether you're celebrating life's joyful milestones, expressing heartfelt sentiments, or simply adding a touch of elegance to your surroundings, The Happy Florist is here to transform your vision into breathtaking reality.
                    </p>
                    <div class="row justify-content-around">
                        <div class="col-4 text-center">
                            <img src="media/staff1.webp" alt="Staff Member 1" class="img-fluid rounded-circle mb-2">
                            <p>Mary Jane</p>
                        </div>
                        <div class="col-4 text-center">
                            <img src="media/staff2.webp" alt="Staff Member 2" class="img-fluid rounded-circle mb-2">
                            <p>Chloe Dillane</p>
                        </div>
                        <div class="col-4 text-center">
                            <img src="media/staff3.webp" alt="Staff Member 3" class="img-fluid rounded-circle mb-2">
                            <p>Clara Smith</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <img class="image-fluid rounded"
                         src="media/home-flowers.webp"
                         alt="front of florist shop">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
