<script type="text/javascript">
    // Disable minus range in product quantity
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

     // Ensure user cannot go outside intented quantity range
     var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

    //Update bouquet price per size selected
    document.addEventListener("DOMContentLoaded", function() {
    var sizeSelect = document.getElementById('id_product_size');
    var priceDisplay = document.querySelector('.product-price');
    var productPriceData = JSON.parse('{{ product_price_data|escapejs }}');

    sizeSelect.addEventListener('change', function() {
        var selectedSize = sizeSelect.value;
        var newPrice = productPriceData[selectedSize];

        if (newPrice !== undefined) {
            priceDisplay.textContent = "$" + newPrice;
        } else {
            priceDisplay.textContent = "Price not available";
        }
    });
});
</script>