html {
    height: 100%;
}

header {
    background-color: #eff7f5;
    box-shadow: 1px -1px 7px 0 #d8edec;
}

body {
    background: url('/media/flower_background.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family:"Quicksand", sans-serif;
}

#main-nav a:hover {
    text-decoration: underline;
}

.logo {
    height: 60px;
}

.logo-font {
    font-family: "Dancing Script", cursive;
    font-size: 45px;
}

.main-logo-link {
    width: fit-content;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.home-image {
    background-image: url('/media/home-flowers.webp');
    background-size: cover;
    background-position: center;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.display-4 {
    background-color: #fff;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

#about {
    background-color: #eff7f5;
    font-family:"Quicksand", sans-serif;
}

#about h4 {
    font-family: "Dancing Script", cursive;
    font-size: 40px;
}

.card:hover {
    border-color:#53877a;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #fff !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* Media Queries */

@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 767px) {
    .home-container {
        padding-top: 170px;
    }
}